# Host settings
DOMAIN_NAME_OR_IP=<HOST NAME or IP>

# SSL settings
SSL_DIR=.ssl/
SSL_CERT=url_cert.pem
SSL_PRIV=url_private.key

# App settings
APP_BASE_DIR=app/
WORKS_DIR=works/

# Telegram token
TGBOT_TOKEN=<Bot token>

# Telegram admin ID
TG_ADMINS_ID=<admin ID split :admin ID>

# Telegram webhook
WEBHOOK_HOST=<HOST NAME or IP>
WEBHOOK_PORT=8443
WEBHOOK_PATH=/bot

# App
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8443

# Postgressql
PG_HOST=db
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=bot_db

# PGAdmin4
HOST_PGADMIN_PORT=443
PGADMIN_PORT=443
PGADMIN_DEFAULT_EMAIL=<email>
PGADMIN_DEFAULT_PASSWORD=<password>


#Yandex-Money
YM_BASE_DIR=ym_server/
YM_HOST=0.0.0.0
YM_PORT=6663
YM_WALLET_ID=<wallet id>
SUBSCRIBE_PRICE=<subscribe price>
NOTIFICATION_SECRET=<notification secret>